@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Ubuntu:wght@300&display=swap");

body {
  background-color: #050c15;
  font-family: "helvetica", sans-serif;
}

.container {
  background-color: #050c15;
  margin: 20px auto;
  /* padding: 20px; */
  border-radius: 5px;
  /* box-shadow: 0px 0px 3px #4e4e4e; */
}
.coolBG {
  background-color: #050c15;
}
h1,
h2,
h3 {
  color: #e4e4e4;
  /* text-align: center; */
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

p.contact-margin {
  margin: 20px 0px 20px 0px;
}

p.plan-description{
  font-size: 20px;
}

ul.plan-features-list{
  font-size: 20px;
}

h3.faq-question {
  font-size: 25px;

}

h2.aboutHeader{
  font-size: 35px;
}

h2.white-text {
  font-size: 35px;
  padding: 20px 0px 20px 0px;
}

p.faq-answer{
  font-size: 20px;
}

.row {
  margin: 40px 0px;
}
p {
  color: #e4e4e4;
  font-size: 18px;
}

p.lineHeight{
  line-height: 40px;
  font-size: 20px;
}

nav {
  background-color: #050c15;
  padding: 20px;
  text-align: center;
  border-radius: 40px;
  /* box-shadow: 0px 0px 8px #0E203D; */
  border: solid 3px #0e203d;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #6a6a6a;
}

.navbar-button:hover{
  color: #2b2b2b;
}

header p,
footer p {
  text-align: center;
}
footer p {
  color: #fff;
}
footer {
  margin: 40px 0px 0px 0px !important;
  background-color: #151b22;
  padding: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

footer a:hover {
  color: #6a6a6a;
}

.border7 {
  /* box-shadow: 0px 0px 20px #0E203D; */
  /* border-style: solid ; */
  border-radius: 20px;
  margin: 5px 0px;
  padding: 20px;
  padding-top: 40px;
  border: solid 3px #0e203d;
}

h2.header {
  font-size: 70px;
}

.coloredText {
  background: linear-gradient(to right, #dd6145, #a69fcd, #e8ccba);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.lineHeight {
  line-height: 40px;
}

.textCenter {
  text-align: center;
  margin: 10px;
}

.aboutHeader {
  /* margin-top: 10px; */
  margin-bottom: 30px;
}

.margin {
  margin: 50px 0px 70px 0px;
}

.logo {
  text-align: center;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.logoFooter {
  text-align: center;
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  color: #dd6145;
  margin-top: 40px;
}

.footer {
  display: flex;
}

.allRights {
  text-align: center;
  margin-top: 60px;
  color: #6a6a6a;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #6657f4;
  border-radius: 23px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #493db2 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fefefe;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-top: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.button-30:focus {
  box-shadow: #493db2 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #493db2 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(112, 93, 255, 0.434) 0 4px 8px,
    rgba(91, 69, 140, 0.416) 0 7px 13px -3px, #493db2 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #493db2 0 3px 7px inset;
  transform: translateY(2px);
}

.orange-text {
  color: #dd6145;
}

.text-middle {
  text-align: center;
}
.lineHeight {
  line-height: 25px;
}
.vertical-center {
  display: flex;
  align-items: center;
}

.about-image {
  width: 80%;
}

.plan {
  border-radius: 20px;
  border: 3px solid #0e203d;
  padding: 50px;
}

.plan-title {
  font-size: 35px;
  font-weight: bold;
  color: #e4e4e4;
}

.plan-price-orange {
  color: #dd6145;
  font-weight: bold;
  font-size: 35px;
}

.plan-price-blue {
  color: #4d71fb;
  font-weight: bold;
  font-size: 35px;
}

.plan-description {
  font-size: 16px;
  color: #e4e4e4;
}

.plan-features-header {
  font-size: 25px;
  font-weight: bold;
  color: #e4e4e4;
}

.plan-features-list {
  color: white;
  line-height: 35px;
}

.plan-get-orange {
  background: #dd6145;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.plan-get-blue {
  background: #4d71fb;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.faq-question {
  font-size: 16px;
  font-weight: bold;
  color: #e4e4e4;
  border: 3px solid #0e203d;
  padding: 20px;
  border-radius: 50px;
}

.faq-answer {
  font-size: 16px;
  color: #e4e4e4;
  padding: 30px;
  border: 3px solid #0e203d;
  border-radius: 30px;
  background-color: #071425;
}

.bold {
  font-weight: bold;
}

.navigation-bar-logo-container {
  text-align: left;
}

.navbar-logo {
  font-size: 30px;
  font-weight: bold;
  color: #dd6145;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.items-vertical-center {
  height: 100%;
  display: flex;
  align-items: center;
}
/* Gradient button */
.navbar-button {
  background: linear-gradient(to right, #dd6145, #a69fcd, #e8ccba);
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-info-container {
  border: 3px solid #0e203d;
  border-radius: 40px;
  padding: 50px;
  
}






/* CONTACT FORM */

/* body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  line-height: 1.9;
  color: #8c8c8c; } */

/* h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  color: #000; } */

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }


.heading {
  font-size: 2.5rem;
  font-weight: 900; }

.form-control {
  border: none;
  background: #f3f3f3; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
    background: #f3f3f3; }

.col-form-label {
  color: #000; }

.btn, .form-control, .custom-select {
  height: 50px; }

.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; }

.btn {
  border: none;
  border-radius: 4px !important; }
  .btn.btn-primary {
    background: #6657f4;
    color: #fff;
    padding: 15px 20px; }
  .btn:hover {
    color: #fff; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08); }
  .box h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #382ebb; }


.margin-contact{
    margin: 20px 0px 50px 0px;
  }

  .how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .video-container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    max-height: 720px;
    overflow: hidden;
    aspect-ratio: 16/9; /* Aspect ratio 16:9 (9 / 16 * 100) */
  }
  
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  